<div class="" >
    <textarea 
    type="text"
    name="duration"
    placeholder="Type your bio here (max 500 characters)"
    maxlength="500"
    class="resize w-[270px] lg:w-[500px] block px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
    [(ngModel)] = "user.bio"
    ></textarea>
<button (click)="onSubmit()"
   id="submit"
   type="submit"
  class="mt-2 px-8 py-2 mr-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-orange-600 rounded-md hover:bg-orange-300 focus:outline-none focus:bg-orange-400 focus:ring focus:ring-blue-300 focus:ring-opacity-80"
>
  Submit
</button>
</div>