<div class="flex flex-wrap gap-2 fixed z-40 justify-center items-center w-full bg-gray-200/50 rounded p-2 mt-20">
  <button class="bg-orange-800 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded" (click)="toggleCategories()">
    {{ showCategories ? 'Hide Categories' : 'Show Categories' }}
  </button>
  <ng-container *ngIf="showCategories">
    <button *ngFor="let category of categories" 
            class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded" 
            (click)="selectCategory(category)">
      {{ category }}
    </button>
  </ng-container>
</div>
